extends layoutBS

block content
  h1 Search Dorm
  br
  input.form-control(type='text', placeholder='Enter University or Name of Dorm Building')
  input(type='submit')
    
  ol
      style.
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }

            
      
      table(style='width:100%')
        tr
          th University
          th Dorm Building
          th Dorm style 
          th Bathroom Style
          th Gender
          th Facility & Highlight
          th Weakness
          th Other Insights
        each u in dorm 
          tr
            td #{u.university}
            td 
              a(href="/dorm/"+u._id) #{u.dormbuilding}
            td #{u.double?'double':''},#{u.single?'single':''},#{u.standardtriple?'standardtriple':''},#{u.forcedtriple?'forcedtriple':''},#{u.suite?'suite':''}, Number of Floors: #{u.floors}
            td Number of Toilets: #{u.toilets} | Number of Showers: #{u.showers} | Number of Sinks: #{u.sinks}, #{u.includetowels?'includetowels':''},#{u.includesoaps?'includesoaps':''}
            td #{u.mixed?'mixed':''},#{u.malefemaleonseparateside?'malefemaleonseparateside':''}
            td #{u.gym?'gym':''},#{u.bigbathroom?'bigbathroom':''},#{u.bigshoweringarea?'bigshoweringarea':''},#{u.picturesqueview?'picturesqueview':''}
            td #{u.bugs?'bugs':''}
            td #{u.insights}
